<div class="proyectos">
  <section class="py-5">
    <div class="container px-5 mb-5">
      <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0">
          <span class="text-gradient d-inline">Proyectos</span>
        </h1>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
          <!-- Project Card 1-->
          <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
            <div class="card-body p-0">
              <div
                class="d-flex align-items-center justify-content-center row p-2"
              >
                <div class="p-5 col-xl-6 col-lg-12 d-flex flex-column text-sm-center text-lg-start">
                  <h2 class="fw-bolder">Consulta tu película</h2>
                  <p>
                    Aplicación que consume de API para obtener información de la
                    película que se busca.
                  </p>

                  <div
                    class="d-flex flex-row gap-3 justify-content-sm-center justify-content-lg-start align-items-center"
                  >
                    <a
                      href="https://github.com/GongoraLucas/Consulta-tu-pelicula.git"
                      target="_blank"
                      class="btn btn-dark"
                      >Ver GitHub</a
                    >
                    <a
                      href="https://busca-tu-pelicula.netlify.app/"
                      target="_blank"
                      class="btn btn-primary"
                      >Ver Demo</a
                    >
                  </div>
                </div>
                <img
                  class="img-fluid col-xl-6 col-lg-12"
                  src="/public/imgs/ProyectoPelicula.png"
                  alt="proyecto película"
                />
              </div>
            </div>
          </div>
          <!-- Project Card 2-->
          <div class="card overflow-hidden shadow rounded-4 border-0">
            <div class="card-body p-0">
              <div
                class="d-flex align-items-center justify-content-center row p-2"
              >
                <div class="p-5 col-xl-6 col-lg-12 d-flex flex-column text-sm-center text-lg-start">
                  <h2 class="fw-bolder">Consulta el clima</h2>
                  <p>
                    Aplicación que consume de API para obtener informacion sobre
                    el clima
                  </p>
                  <div
                    class="d-flex flex-row gap-3 justify-content-sm-center justify-content-lg-start  align-items-center"
                  >
                    <a
                      href="https://github.com/GongoraLucas/App-Clima-REACT.git"
                      target="_blank"
                      class="btn btn-dark"
                      >Ver GitHub</a
                    >
                    <a
                      href="https://clima-react-cool.netlify.app/"
                      target="_blank"
                      class="btn btn-primary"
                      >Ver Demo</a
                    >
                  </div>
                </div>
                <img
                  class="img-fluid col-xl-6 col-lg-12"
                  src="/public/imgs/ProyectoClima.png"
                  alt="proyecto clima"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action section-->
  <section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
      <div class="text-center">
        <h2 class="display-4 fw-bolder mb-4">Construyamos algo juntos</h2>
        <a
          class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder"
          href="/views/contact.html"
          onclick="cargarContenido(event,this.href)"
          >Contáctame</a
        >
      </div>
    </div>
  </section>
</div>
