<div class="container px-5 my-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Experience Section -->
      <section class="timeline-section my-5">
        <div class="container px-5">
          <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0">
              <span class="text-gradient d-inline">Aprendizaje</span>
            </h1>
            <p class="text-muted mt-3 fs-5">Un recorrido por mi formación.</p>
          </div>

          <div class="text-end mt-5 mb-2">
            <a
              href="/public/files/Gongora_Lucas_CV.pdf"
              class="btn bg-gradient-primary-to-secondary text-white fw-bold"
              download="Gongora_Lucas_CV.pdf"
            >
              Descargar CV
              <i class="bi bi-download ms-2"></i>
            </a>
          </div>

          <!-- Timeline -->
          <ul class="timeline">
            <!-- Experience 1 -->
            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column "
              >
                <h5 class="fw-bold text-primary mb-1">
                  Auditor interno ISO 27001
                </h5>
                <p class="text-muted small mb-2">Certiprof</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >Finalizado en ago 2023</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalISO"
                  data-title="Auditor interno ISO 27001"
                  data-description="Curso sobre seguridad de la información, evaluación e implementación del SGSI."
                  data-cert="https://ejemplo.com/certificados/iso27001.pdf"
                  data-code="true"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <!-- Experience 2 -->
            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">
                  Pentester Mentor Junior
                </h5>
                <p class="text-muted small mb-2">Hacker Mentor</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >Finalizado en oct 2023</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalPMJ"
                  data-title="SEM Specialist"
                  data-description="Gestión de campañas SEO/SEM y análisis de tráfico con enfoque en la optimización del retorno de inversión (ROI)."
                  data-cert="https://ejemplo.com/certificados/sem.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <!-- Education 1 -->
            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Ethical Hacking</h5>
                <p class="text-muted small mb-2">CertJoin</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en novviembre 2023</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalCertjoin"
                  data-title="Master’s in Web Development"
                  data-description="Especialización en desarrollo full-stack y metodologías ágiles aplicadas a entornos web modernos."
                  data-cert="https://ejemplo.com/certificados/master.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <!-- Education 2 -->
            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Linux</h5>
                <p class="text-muted small mb-2">HACK4U</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en junio 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalLinux"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Python Ofensivo</h5>
                <p class="text-muted small mb-2">HACK4U</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en julio 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalPython"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Git Github</h5>
                <p class="text-muted small mb-2">DevTalles</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en abril 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalGit"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">
                  Manejo de Visual Studio Code
                </h5>
                <p class="text-muted small mb-2">DevTalles</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en abril 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalVSCODE"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">REACT (MERN y hooks)</h5>
                <p class="text-muted small mb-2">DevTalles</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >finalizado en sep 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalREACT"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Tanstack Query</h5>
                <p class="text-muted small mb-2">DevTalles</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >Finalizado oct 2025</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalQuery"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>

            <li class="timeline-item">
              <span class="timeline-circle"></span>
              <div
                class="timeline-panel bg-dark text-light shadow-sm rounded-4 p-4 d-flex flex-column"
              >
                <h5 class="fw-bold text-primary mb-1">Docker</h5>
                <p class="text-muted small mb-2">DevTalles</p>
                <span class="badge bg-gradient-morado mb-3 px-3 py-2"
                  >Cursando actualmente</span
                >
                <button
                  class="btn btn-outline-primary text-white btn-md"
                  data-bs-toggle="modal"
                  data-bs-target="#infoModalDocker"
                  data-title="Bachelor in Computer Science"
                  data-description="Formación base en algoritmos, estructuras de datos y diseño orientado a objetos."
                  data-cert="https://ejemplo.com/certificados/bachelor.pdf"
                  data-code="false"
                >
                  Saber más...
                </button>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- Skills Section -->
      <section>
        <div class="card shadow border-0 rounded-4 mb-5 bg-dark">
          <div class="card-body p-5">
            <!-- Professional Skills -->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-code-slash"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline">Lenguajes</span>
                </h3>
              </div>

              <div
                id="carouselExampleInterval"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div
                  id="carouselExample"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <img
                        src="/public/imgs/C.png"
                        class="carousel-img d-block mx-auto"
                        alt="lenguaje C"
                        title="C"
                      />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img
                        src="/public/imgs/java.png"
                        class="carousel-img d-block mx-auto"
                        alt="Java"
                        title="Java"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/C++.png"
                        class="carousel-img d-block mx-auto"
                        alt="C++"
                        title="C++"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/JS.png"
                        class="carousel-img d-block mx-auto"
                        alt="JavaScript"
                        title="JavaScript"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/typescript.png"
                        class="carousel-img d-block mx-auto"
                        alt="TypeScript"
                        title="TypeScript"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/python.png"
                        class="carousel-img d-block mx-auto"
                        alt="Python"
                        title="Python"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/golang.png"
                        class="carousel-img d-block mx-auto"
                        alt="Go"
                        title="Go"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/bash.png"
                        class="carousel-img d-block mx-auto"
                        alt="Bash scripting"
                        title="Bash scripting"
                      />
                    </div>
                  </div>
                </div>

                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
            </div>

            <div>
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline"
                    >Tecnologías-Liberías-Herramientas-Más</span
                  >
                </h3>
              </div>

              <div
                id="carouselExampleInterval1"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div
                  id="carouselExample"
                  class="carousel slide"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <img
                        src="/public/imgs/bootstrap.png"
                        class="carousel-img d-block mx-auto"
                        alt="bootstrap"
                        title="bootstrap"
                      />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img
                        src="/public/imgs/materialui.png"
                        class="carousel-img d-block mx-auto"
                        alt="material ui"
                        title="material ui"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/postman.jpg"
                        class="carousel-img d-block mx-auto"
                        alt="postman"
                        title="postman"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/react.png"
                        class="carousel-img d-block mx-auto"
                        alt="react"
                        title="react"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/tanstack-query.webp"
                        class="carousel-img d-block mx-auto"
                        alt="Tanstack Query"
                        title="Tanstack Query"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/redux.png"
                        class="carousel-img d-block mx-auto"
                        alt="Redux"
                        title="Reducx"
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="/public/imgs/react-router-dom.png"
                        class="carousel-img d-block mx-auto"
                        alt="react-router-dom"
                        title="react-router-dom"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/matplotlib.png"
                        class="carousel-img d-block mx-auto"
                        alt="matplotlib"
                        title="matplotlib"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/numpy.webp"
                        class="carousel-img d-block mx-auto"
                        alt="numpy"
                        title="numpy"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/scapy.png"
                        class="carousel-img d-block mx-auto"
                        alt="scapy"
                        title="scapy"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/wireshark.webp"
                        class="carousel-img d-block mx-auto"
                        alt="wireshark"
                        title="wireshark"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/burp-suite.png"
                        class="carousel-img d-block mx-auto"
                        alt="burp-suite"
                        title="burp-suite"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/Vim.png"
                        class="carousel-img d-block mx-auto"
                        alt="vim"
                        title="vim"
                      />
                    </div>

                    <div class="carousel-item">
                      <img
                        src="/public/imgs/neovim.png"
                        class="carousel-img d-block mx-auto"
                        alt="neovim"
                        title="neovim"
                      />
                    </div>
                  </div>
                </div>

                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleInterval1"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleInterval1"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mb-1">
        <a
          class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"
          href="./views/contact.html"
          onclick="cargarContenido(event,this.href)"
          >Contáctame</a
        >
        <a
          class="btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder"
          href="./views/projects.html"
          onclick="cargarContenido(event,this.href)"
          >Mira Mis Proyectos</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Modal ISO-->
<div
  class="modal fade"
  id="infoModalISO"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">Auditor ISO</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender la ISO 27001 sobre la seguridad de la
        información.
      </div>
      <div class="d-flex justify-content-center">
        <img
          src="/public/imgs/CertiProf-Logo.png"
          class="img-fluid w-50"
          alt="certificado Certiprof"
        />
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="certificado ISO 27001"
          target="_blank"
          rel="no-referrer"
          href="https://www.credly.com/badges/64f7332c-edec-4111-a8cf-f00085d7b33b/linked_in_profile"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal PMJ -->

<div
  class="modal fade"
  id="infoModalPMJ"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          Pentester Mentor Junior (PMJ)
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender los principios de ciberseguridad y en
        poder realizar todo los pasos para completar un pentesting
      </div>
      <div class="d-flex justify-content-center my-2">
        <img
          src="/public/imgs/PMJ_Logo.jpg"
          class="img-fluid w-50"
          alt="certificado hacker mentor"
        />
      </div>
      <div class="alert alert-warning">
        <p>
          No se pudo encontrar página para verificar certificado pero se adjunta
          página oficial
        </p>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Sitio oficial Hacker Mentor"
          title="Sitio oficial Hacker Mentor"
          target="_blank"
          rel="no-referrer"
          href="https://www.hacker-mentor.com/"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ethical Hacking -->

<div
  class="modal fade"
  id="infoModalCertjoin"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          Ethical Hacking Certified Associate
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender los principios de ciberseguridad y en
        poder realizar todo los pasos para completar un pentesting.
      </div>
      <div class="d-flex justify-content-center my-2">
        <img
          src="/public/imgs/CertJoin_logo.png"
          class="img-fluid w-50"
          alt="certificado Certjoin"
        />
      </div>
      <div class="alert alert-info">
        <p>
          Se necesita poner este código para revisar certificado
          <strong>eRYUzHyBpy</strong>
        </p>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Certjoin ethical hacking"
          title="Certjoin ethical hacking"
          target="_blank"
          rel="no-referrer"
          href="https://campus.certjoin.com/mod/customcert/verify_certificate.php"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Linux-->

<div
  class="modal fade"
  id="infoModalLinux"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          Introducción a Linux
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender los comandos básicos y avanzados de
        linux, ademas de aprender bash scripting.
      </div>
      <div class="d-flex justify-content-center my-2">
        <img
          src="/public/imgs/LinuxS4VITAR.jpg"
          class="img-fluid w-50"
          alt="certificado de linux"
        />
      </div>
      <div class="alert alert-info">
        <p>
          Se necesita poner este código para revisar certificado
          <strong>4670-6121-1485-8787</strong>
        </p>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado S4VITAR"
          target="_blank"
          rel="no-referrer"
          href="https://hack4u.io/check-certificate/"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Python Ofensivo-->

<div
  class="modal fade"
  id="infoModalPython"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">Python Ofensivo</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender los fundamentos, programacion orientada
        a objetos, manejo de expresiones y uso de bibliotecas como scapy,
        requests, etc.
      </div>
      <div class="d-flex justify-content-center my-2">
        <img
          src="/public/imgs/pythonOfensivo.png"
          class="img-fluid w-50"
          alt="certificado de python ofensivo"
        />
      </div>
      <div class="alert alert-info">
        <p>
          Se necesita poner este código para revisar certificado
          <strong>2189-4644-3531-3574</strong>
        </p>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado S4VITAR"
          target="_blank"
          rel="no-referrer"
          href="https://hack4u.io/check-certificate/"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Git Github Ofensivo-->

<div
  class="modal fade"
  id="infoModalGit"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          GIT+GitHub: Todo un sistema de control de versiones de cero
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender definicion y distinción entre git y
        github, comando básicos y avanzados, manejo de ramas, milestones, etc.
      </div>
      <div class="d-flex justify-content-center my-2">
        <iframe
          src="https://www.youtube.com/embed/X_Z6Ibpn9eM"
          title="Github y Git"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado GIT"
          target="_blank"
          rel="no-referrer"
          href="https://cursos.devtalles.com/certificates/ain6kuozt4"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Visual Studio Code -->

<div
  class="modal fade"
  id="infoModalVSCODE"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          Visual Studio Code: Mejora tu velocidad para codificar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en comprender mejor el funcionamiento de VSCODE y
        aprender funciones avanzadas.
      </div>
      <div class="d-flex justify-content-center my-2">
        <iframe
          src="https://www.youtube.com/embed/SnLaFPnzxdU?si=khu9eM9vVnlRbmOS"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado VSCODE"
          target="_blank"
          rel="no-referrer"
          href="https://cursos.devtalles.com/certificates/lw848a1yie"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- REACT- -->

<div
  class="modal fade"
  id="infoModalREACT"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          React con Javascript​: de cero a experto ( Hooks y MERN )
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en aprender javascript para REACT, aprender
        functional components, hooks de REACT, crear hooks personalizados, etc
      </div>
      <div class="d-flex justify-content-center my-2">
        <iframe
          src="https://www.youtube.com/embed/tOg6eOGgVng?si=kWM9f0pUAm-6cC7L"
          title="YouTube video player"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado REACT"
          target="_blank"
          rel="no-referrer"
          href="https://cursos.devtalles.com/certificates/c38j0jquhu"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Tanstack Query- -->

<div
  class="modal fade"
  id="infoModalQuery"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          TanStack Query - Un poderoso gestor de estado asíncrono.
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en aprender a utilizar un gestor de estado asíncrono
        y como mejorar la experiencia del usuario.
      </div>
      <div class="d-flex justify-content-center my-2">
        <iframe
          src="https://www.youtube.com/embed/EeGPMOV8Dzs?si=oWrWy-CT_cCyc2fe"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer">
        <a
          class="btn btn-primary"
          id="viewCertBtn"
          alt="Revision certificado"
          title="Revision certificado Tanstack Query"
          target="_blank"
          rel="no-referrer"
          href="https://cursos.devtalles.com/certificates/ktroexnudc"
        >
          Ver certificado
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Docker -->

<div
  class="modal fade"
  id="infoModalDocker"
  tabindex="-1"
  aria-labelledby="infoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="infoModalTitle">
          Docker - Guía práctica de uso para desarrolladores
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body" id="infoModalBody">
        El curso consistió en aprender a utilizar docker para crear imagenes,
        contenedores, orquestar contenedores, github Actions, etc.
      </div>
      <div class="d-flex justify-content-center my-2">
        <iframe
          src="https://www.youtube.com/embed/u_a3Cd_slgA?si=a54GscU66mp-mPsA"
          title="YouTube video player"
          allowfullscreen
        ></iframe>
      </div>
      <div class="modal-footer d-flex align-items-center justify-content-center">
        <div class="alert alert-info ">
          <p class="text-center">Actualmente aprendiendo</p>
        </div>
      </div>
    </div>
  </div>
</div>
