body {
    background-color: rgb(26, 26, 26) !important;
}



@media (max-width: 1250px) {
    .espaciado-navbar {
        margin-top: 80px;
    }
}

@media (max-width: 1300px) {
    .proyectos {
        margin-top: 50px;
    }
}

.menu-item:hover {
    background: linear-gradient(90deg, #8e2de2, #4a00e0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


  .carousel-img {
    width: 100%;
    max-height: 300px;     
    object-fit: contain;    
    background-color: #212020;  
    padding: 10px;  
    border-radius: 20px;         
  }

  @media (max-width: 768px) {
    .carousel-img {
      max-height: 200px;     
    }
  }

